* {
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

html,
body {
	height:100%;
}

#container
{
	background: #F0F0F0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3.6em;
}

div{
	background-color: #F0F0F0;
}

#header
{
	/*background:#FF6600;*/
	background-image:url('valley-nr-Lai-Chau-resize.jpg');
	background-repeat: no-repeat;
	background-position: 0% 10%;
	padding: 20px;
	color:#FFFFFF;
}
#header h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

#nav
{
	float: left;
	width: 100%;
	background: #333;
	margin: 0;
	padding: 0;
	
	position:relative;
	list-style:none;
}
#nav li
{
	float:left;
	position:relative;
}
#nav a
{
	display: block;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}
#nav li:hover
{
	background: #ccc; 
}
.chosen a {
	background: #ccc;
}
#dropdown #drop{
	list-style:none;
    position:absolute;
    left:-4000px;
}
#dropdown:hover #drop{
	left:-40px;
}
#dropdown #drop li{
	float:none;
}
#dropdown:hover #drop a{
	background:#333;
	white-space:nowrap;
	border-right: 0px;
}
#dropdown:hover #drop li:hover a{
	background: #ccc;
}


#content-container
{
	float: left;
	width: 100%;
}
#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 30px 0;
	margin: 0 0 0 4%;
	display: inline;
}
#solecontent
{
	clear: left;
	float: center;
	width: 100%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}
#solecontent p img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content h2 {
	padding-bottom: 15px;
	margin: 0;
}


#aside
{
	float: right;
	width: 26%;
	padding: 30px 0;
	margin: 0 3% 0 0;
	display: inline;
}
#aside h3 { margin: 0; }


img{
	padding-left: 35px;
	padding-bottom: 25px;
	float: right;
}


p iframe {
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 0;
}


#footer
{
	clear: both;
	background: #333;
	color: #FFFFFF;
	text-align: right;
	padding: 1em;
	height: 1.6em;
	font-family: 'Oswald', sans-serif;
}

.push {
	clear: both;
	height: 1.6em;
}