* {
	font-family: 'Open Sans', sans-serif;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #FFF056;
	padding: 20px;
	font-style: italic;
}

#header h1 { margin: 0; }

#nav
{
	float: left;
	width: 100%;
	background: #333;
	margin: 0;
	padding: 0;
	
	position:relative;
	list-style:none;

}

#nav li
{
	/*list-style-type: none;
	display: inline;
	*/

	float:left;
	position:relative;
}

#nav a
{
	display: block;
	/*float: left;*/
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#nav a:hover
{
	background: #ccc; 
}




#nav ul{
    list-style:none;
    position:absolute;
    /*display: none;*/
    left:-40px; <span class="code-comment"> /*Hide off-screen when not needed (this is more accessible than display:none;)*/ </span>
}
#nav ul li{
	padding-top:1px; <span class="code-comment">/* Introducing a padding between the li and the a give the illusion spaced items */</span>
    float:none;
}
#nav ul a{
	background:#333;
    white-space:nowrap; <span class="code-comment">/* Stop text wrapping and creating multi-line dropdown items */</span>
}
#nav a:hover ul{ <span class="code-comment">/* Display the dropdown on hover */</span>
	display: table-column-group;
    /*left:-40px <span class="code-comment"> Bring back on-screen when needed </span>*/
}
#nav a:hover a{ <span class="code-comment">/* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */</span>
    background:#6b0c36;
}
#nav a:hover ul a{ <span class="code-comment">/* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */</span>
    text-decoration:none;
}
#nav a:hover ul li a:hover{ <span class="code-comment">/* Here we define the most explicit hover states--what happens when you hover each individual link. */</span>
    background:#333;
}




#chosen a { background: #ccc; }

#content-container
{
	float: left;
	width: 100%;
	background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 26%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 15px;
	height: 1%;
	font-style: italic;
}


/*
#dropdown
{

}

#dropdown a
{	
}

#dropdown div
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2
}

#dropdown div a
{	
	position: relative;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #333;
	color: #FFF;
}

#dropdown div a:hover
{	
	background: #ccc;
	color: #FFF;
}
*/