* {
	font-family: 'Open Sans', sans-serif;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background:#FF6600;
	padding: 20px;
	/*color:#FFFFFF;*/
}

#header h1 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
}



#nav
{
	float: left;
	width: 100%;
	background: #333;
	margin: 0;
	padding: 0;
	
	position:relative;
	list-style:none;

}
#nav li
{
	/*list-style-type: none;
	display: inline;
	*/

	float:left;
	position:relative;
}

#nav a
{
	display: block;
	/*float: left;*/
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#nav li:hover
{
	background: #ccc; 
}
.chosen a {
	background: #ccc;
}


#dropdown #drop{
	list-style:none;
    position:absolute;
    left:-4000px;
}

#dropdown:hover #drop{
	left:-40px;
}

#dropdown #drop li{
	float:none;
}

#dropdown:hover #drop a{
	background:#333;
	white-space:nowrap;
	border-right: 0px;
}

#dropdown:hover #drop li:hover a{
	background: #ccc;
}



p iframe {
    display: block;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 0;
}



#content-container
{
	float: left;
	width: 100%;
	background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 30px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#solecontent
{
	clear: left;
	float: center;
	width: 100%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#content h2 {
	padding-bottom: 15px;
	margin: 0;
}



img{
	padding-left: 40px;
	padding-bottom: 40px;
	float: right;
}

#aside
{
	float: right;
	width: 26%;
	padding: 30px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }



#footer
{
	clear: both;
	background: #ccc;
	text-align: right;
	padding: 15px;
	height: 1%;
	font-family: 'Oswald', sans-serif;
}